apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: 054238436693.dkr.ecr.ap-south-1.amazonaws.com/backend:v2
        ports:
        - containerPort: 8000
        envFrom:
        - secretRef:
            name: mysql-secret
